@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared style */
/* *{
    margin: 0;
    padding: 0;
} */
body {
    background: rgb(0, 0, 0);

}

.margin-for-all {
    margin: 0 190px;

}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.des-color {
    color: rgba(255, 255, 255, 0.5)
}

.white-color {
    color: white;
}

.comla-color {
    color: rgb(221, 58, 33);
}

.btn-color {
    color: rgb(221, 58, 33);
}

.btn-primary {
    border-radius: 42px;
    background: rgb(221, 58, 33);
    padding: 12px 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}

#btn-white {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.197);


}



/* Nav bar style */
.nav-bar {
    color: white;
    justify-content: space-between;
}

.brand-name {
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    width: 55%;

}

.nav-item {
    list-style: none;

    /* border: 2px soldi rgb(119, 11, 11); */

}

.nav-links {
    width: 45%;
    justify-content: space-between;
    padding-left: 0px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: 39px;
    margin: 0;
    padding: 4px 25px 4px 4px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 12px 0px;
}

.home {
    border-radius: 46px;
    background: rgb(221, 58, 33);
    padding: 8px 20px;
}


.nav-bar,
.header-container,
.traning-section,
.habit,
.run-section,
.team {
    max-width: 1060px;
    margin: 0px auto;
}



.nav-link:hover {
    border-radius: 46px;
    background: rgb(221, 58, 33);
    padding: 8px 20px;
}







/* header container style */
.header-container {
    color: white;
    justify-content: space-between;
    margin: 0 auto;

}

.header-container1 {
    max-width: 520px;
    display: flex;
    flex-direction: column;

}

.header-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 28px;

}

.header-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 0px 28px 0px;
}

.header-button {
    gap: 30px;
}

.header-img {
    width: 100%;
}

.video-badge {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 25px;
    text-align: left;
    position: absolute;
    margin-top: 120px;
    margin-left: -120px
}

#badge1-number {
    font-size: 2.2rem;
    font-weight: 900;

}

.badge-des {
    font-size: .9rem;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
}

.video-badge2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 25px;
    text-align: left;
    gap: 20px;
    position: absolute;
    margin-top: -160px;
    margin-left: -110px;
}

#color {
    width: 40px;
    height: 40px;
    background-color: rgb(221, 58, 33);
    border-radius: 50%;
}

#badge2-number {
    font-size: 1.5rem;
    font-weight: 900;

}

.badge2-des {
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
}

.three-dots {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}



/* Habit style */
.section-title {
    font-size: 3rem;
    font-weight: 900;
}

.habit-des {
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.habit-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-img {
    border-radius: 50%;
}

.habit-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-des {
    font-size: .8rem;
    font-weight: 400;
}








/* Run section style */
.run-section {
    justify-content: space-between;
    padding: 30px 32px 20px 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    /* gap: 170px; */


}

.run-container {
    max-width: 450px;

}

.run-zoom-img {
    width: 370px;
    height: 335px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.run-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transform: scale(2.3);
    /* Zoomed in */
    transform-origin: center center;
    transform-origin: 80% 30%;

}

.run-des {
    margin-top: 0px;
    margin-bottom: 30px;
}




/* training section style */
.traning-section {
    margin-top: 100px;
    ;
}

.training-title {
    margin-bottom: 0;
}

.traning-des {
    max-width: 670px;
    margin-bottom: 58px;
}

.training-imgs {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 5px;
}

.tr {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}






/* BMI section style */
.bmi-intro {
    max-width: 671px;
    margin: 80px auto;
}

.bmi-section {
    max-width: 1440px;
    margin: 88px auto;
    background: rgb(34, 34, 34);
    padding: 50px 190px;
    justify-content: space-between;
}

.chart-title {
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 52px;
}

table {
    width: 320px;
    height: 216px;
    text-align: center;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

th,
td {
    padding: 13px 13px 13px 20px;
}

th {
    font-size: 1rem;
    font-weight: 500;
}

td {
    font-size: .88rem
}



.bmi-calculator {
    max-width: 577px;
}

.calculate-title {
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 14px;

}

.calculator-des {
    margin-bottom: 35px;
}

form {
    width: 100%;
    flex-direction: column;
}

.input-group {
    width: 100%;

    gap: 14px;
    margin-top: 12px;

}

.input-group input {
    width: 50%;
}

#ordhek-naw {
    width: 50%;
}

.full {
    width: 100%;
}

#sob-naw {
    width: 100%;
}

input,
select {
    flex: 1;
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.sndr {
    background-color: rgba(10, 9, 9, 0.993);
}

#bmi-btn {
    margin-top: 32px;
}






/* team style */
.team{
    margin-bottom: 88px;
}
.team-intro {
    max-width: 671px;
    margin: 80px auto;
    text-align: center;
}

.team-title {
    margin-bottom: 0;
}

.teammates {
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    grid-template-columns: repeat(3, 1fr);
    /* width: 100%; */
    gap: 20px;
    /* border: 1px solid white; */
}

.teamates-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}





/* footer style */
footer{
    max-width: 1440px;
    margin: 0 auto;
   background: rgba(255, 255, 255, 0.1);
    padding: 60px 190px 0 190px;
   
}
.footer-box {
 justify-content: space-between;
}
.company{
    max-width: 445px;
}
.footer-logo{
    font-size: 5rem;
    font-style: italic;
    font-weight: 800;
    margin: 0;
}
.company-des{
    margin-top: 20px;

}
.footer-title{
    font-size: 1.9rem;
    font-weight: 700;
}
footer li{
    list-style: none;
    margin-bottom: 20px;
    
}
footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;

}
.company-info-box  ul{
 padding-left: 0;
}






/* media for mobile */
@media screen and (max-width: 768px) {

    .header-container,
    .run-section,
    .bmi-section,
    .footer-box {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .three-dots {
        display: block;
    }

    .margin-for-all {
        margin: 0 20px;
    }

    .header-title {
        max-width: 290px;
        font-size: 2.8rem;
        ;
    }

    .header-description {
        max-width: 275px;
    }

    .header-container2 {
        margin-top: 48px;
    }

    .video-badge {
        margin-left: -170px;
        margin-top: 30px;
        padding: 10px 17px;
    }

    .video-badge2 {
        margin-top: -360px;
        margin-left: 7px;
        padding: 15px 17px;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }

    .habit-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-box {
        width: 60%;
        margin: 0 auto;
    }

    .run-container {
        max-width: 100%;

    }

    .run-btn {
        width: 100%;
    }

    .run-zoom-img {
        width: 100%;
        margin-top: 30px;
    }

    .run-img {
        transform: scale(1);
    }

    .training-imgs {
        grid-template-columns: repeat(2, 1fr);

    }

    .bmi-section {
        padding: 34px 15px;
        /* background: 100%; */
    }


    .bmi-calculator {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
    }
    .team{
        margin-bottom: 70px;
    }
    .teammates {
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        padding:25px 15px;
    }

}



/* query for medium devices */
@media screen and (min-width:768px) and (max-width: 1024px) {

    .header-container,
    .bmi-section {
        flex-direction: column;
    }

    .margin-for-all {
        margin: 0 40px;
    }

    .header-title {

        width: 100%;
    }

    .header-description {
        width: 100%;
    }

    .header-container2 {
        margin-top: 98px;
        align-items: center;
        text-align: center;
    }

    .header-img {
        width: 50%;

    }

    .video-badge2 {
        margin-top: -270px;
        margin-left: 160px;
    }

    .habit-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .team{
    margin-bottom: 88px;
}

}